---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';

import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((post) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
    <article>
        <Hero title={post.data.title} />
        <div class="content">
            <Content />
        </div>
    </article>
</Layout>