---
interface Props {
    title?: string;
}

const { title = "Pages CMS Template Site" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
        <link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>
		<div class="navbar">
			<a href="/">Home</a>
		</div>
		<slot />
	</body>
</html>

<style>
.navbar {
	background-color: #2274A5;
	padding: 16px;
}

.navbar a {
	color: #FCF9EE;
	text-decoration: none;
	font-weight: bold;
}

.navbar a:hover,
.navbar a:focus {
	text-decoration: underline;
}
</style>